.contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
  }
  #bottomRaised:hover{
    background-color: #43035f;
  }
  #bottomFlat{
    color: #7b1fa2;
    background-color: darkorange;
  }
  #bottomFlat:hover{
    background-color: #43035f;
    transition:ease-in 0.4s;
    color: white;
  }