body{
    background-color: #242424;
    padding-inline: 80px;
    padding-block: 40px;
    padding: auto;
}
html, body { height: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
